{% extends "::base.html.twig" %}

{% block title %}MainBundle:Accueil:accueil{% endblock %}

{% block body %}
<h1>Welcome to the Accueil:accueil page</h1>
<span>CECI EST LA PAGE D'ACCUEIL DE NOTRE SITE!!!!!</span>
{% endblock %}
