{% extends "MainBundle::base.html.twig" %}

{% block title %}Activités{% endblock %}

{% block body %}
<main>
	<div class="container text-center carrousel blank">
		<img src="img/car1.jpg" alt="Nom de l'activité"/>
		<h2>Activité N° 4 : BDS (04/10) </h2>
	</div>
	<hr/>
	<div class="container">
		<div class="activite blank">
			<div class="col-md-4">
				<img class="imgAct" src="img/car1.jpg" alt="Nom de l'activité"/>
			</div>
			<div class="col-md-8">
				<h2>Activité N° 9 : Ouverture du site (21/04) </h2>
				<p class="description">|3!3|\\|\\/3|\\|(_)3 5(_)|2 |_3 |\\|0(_)\\/34(_) 5!73 |)(_) |3|)3</p>
			</div>
		</div>
		<div class="activite blank">
			<div class="col-md-4">
				<img class="imgAct" src="img/car1.jpg" alt="Nom de l'activité"/>
			</div>
			<div class="col-md-8">
				<h2>Activité N° 4 : BDS (04/10) </h2>
				<p class="description">Venez participer à la célébration du BDS !</p>
			</div>
		</div>
		<div class="activite blank">
			<div class="col-md-4">
				<img class="imgAct" src="img/car1.jpg" alt="Nom de l'activité"/>
			</div>
			<div class="col-md-8">
				<h2>Activité N° 5 : BDS (05/10) </h2>
				<p class="description">Venez participer à la célébration de la fin du BDS !</p>
			</div>
		</div>
		<div class="activite blank">
			<div class="col-md-4">
				<img class="imgAct" src="img/car1.jpg" alt="Nom de l'activité"/>
			</div>
			<div class="col-md-8">
				<h2>Activité N° 6 : Babyfoot connecté (08/10) </h2>
				<p class="description">Ouverture du babyfoot connecté créé par le célèbre groupe Polseidon</p>
			</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
{% endblock %}
