{% extends "::base.html.twig" %}

{% block title %}MainBundle:Connexion:profil{% endblock %}

{% block body %}
<h1>Welcome to the Connexion:profil page</h1>
<span>votre identifiant d'utilisateur est {{user}}</span>
{% endblock %}
