{% extends "::base.html.twig" %}

{% block title %}MainBundle:Activites:detailsActivites{% endblock %}

{% block body %}
<h1>Welcome to the Activites:detailsActivites page</h1>
<span>Vous venez d'acceder à l'activité dont l'ID est </span>
{% endblock %}
