{% extends "::base.html.twig" %}

{% block title %}MainBundle:Activites:detailsActivites{% endblock %}

{% block body %}
<h1>Welcome to the Activites:detailsActivites page</h1>
<dt>ID</dt>
<dd>{{act.idActivite}}</dd>
<dt>NOM</dt>
<dd>{{act.nomActivite}}</dd>
<dt>Etat</dt>
<dd>{{act.etatAct.etat}}</dd>
{% if act.etatAct.idEtat == 2 or act.etatAct.idEtat == 3 %}
<br>
{% set isSub = 0 %}
{% for sub in subs %}
	{% if user.idUser == sub.idInscrit.idUser %}
		{% set isSub = 1 %}
		<h4>{% if act.etatAct.idEtat == 3 %}Inscrit{% else %}Voté{% endif %}</h4>
	{% endif %}
{% endfor %}
{% if isSub != 1 %}
<form action="" method="POST">
	<label for="comm">Informations pour l'auteur</label><br>
	<input type="text" name="info"><br><br>
	<input type="submit" name="subAct" value={% if act.etatAct.idEtat == 3 %}"S'inscrire" {% else %}"Voter"{% endif %}>
</form>
{% endif %}
{% endif %}
{% endblock %}
