{% extends "::base.html.twig" %}

{% block title %}MainBundle:Activites:listeInscrits{% endblock %}

{% block body %}
<h1>Welcome to the Activites:listeInscrits page</h1>
<<<<<<< Updated upstream
{% endblock %}
=======
<table>
	<thead>
		<th>ID</th>
		<th>USER</th>
		<th>CHOIX</th>
		<th>COMMENTAIRE</th>
	</thead>
	{% for sub in inscrits %}
		<tr>
			<td>{{sub.idInscrit.idUser}}</td>
			<td>{{sub.idInscrit.nom}}</td>
			<td>{{sub.inscritChoix.choix}}</td>
			<td>{{sub.informations}}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
>>>>>>> Stashed changes
