{% extends "::base.html.twig" %}

{% block title %}MainBundle:Activites:photoActivites{% endblock %}

{% block body %}
<h1>Welcome to the Activites:photoActivites page</h1>
<form action="" method="POST">
	<label for="imgAct">Ajouter une image à l'activité</label><br>
	<input type="file" name="imgAct"><br><br>
	<input type="submit" name="addImgAct" value="Envoyer"><br><br>
</form>
<table>
	<thead>
		<th>ID</th>
		<th>CHEMIN</th>
		<th>DATE</th>
		<th>LIKE</th>
		<th>COMMENT</th>
		<th>Sub(JS)</th>
	</thead>
	{% for img in photos %}
		<tr>
			<td>{{img.idImg}}</td>
			<td>{{img.chemin}}</td>
			<td>{{img.dateImg.date|date("m/d/Y")}}</td>
			<form action="" method="POST">
				<td><input type="submit" name="submitLite" value="like"></td>
			</form>
			<form action="" method="POST">
				<td><input type="text" name="com" placeholder="Comment"></td>
				<td><input type="submit" name="submitComment" value="OK"></td>
			</form>
		</tr>
	{% endfor %}
</table>
{% endblock %}
