{% extends "MainBundle::base.html.twig" %}

{% block title %}Inscription/Connexion{% endblock %}

{% block navCnx %}class="active"{% endblock %}

{% block body %}
<main>
	<div class="header-title container-fluid text-center">
		<h1>Bienvenue sur la page d'Inscription/Connexion</h1>
    </div>
	<div class="container">
		{% if err is defined and err != "" %}
			<div class="alert alert-danger">
				{{err}}
			</div>
		{% endif %}
		<ul class="nav nav-pills">
			<li class="active"><a href="#cnxTab" data-toggle="tab">Connexion</a></li>
			<li><a href="#insTab" data-toggle="tab">Inscription</a></li>
		</ul>
		<div class="blank formulaire">
			<div class="col-md-offset-3 col-md-6">
				<div class="tab-content clearfix">
					<div class="tab-pane" id="insTab">
						<form enctype="multipart/form-data" id="insForm" class="usefulForm" action="" method="post">
							<div class="form-group">
								<label class="control-label" for="Nom">Nom :</label>
								<input class="form-control" type="text" name="Nom" placeholder="Entrer votre nom de famille" size="30" required>
								<label class="control-label" for="Prenom">Prénom :</label>
								<input class="form-control" type="text" name="Prenom" placeholder="Entrer votre prénom" size="30" required>
								<label class="control-label" for="Date">Date de naissance :</label>
								<input class="form-control" type="date" name="Naissance" required>
								<label class="control-label" for="Promo">Promotion :</label>
								<select class="form-control" name="Promo">
									<option value="1">A1</option>
									<option value="2">A2</option>
									<option value="3">A3</option>
									<option value="4">A4</option>
									<option value="5">A5</option>
								</select>
								<label class="control-label" for="Avatar">Avatar :</label>
								<input class="form-control" type="file" name="Avatar">
								<label class="control-label" for="Telephone">Numéro de téléphone :</label>
								<input class="form-control" type="tel" name="Telephone" maxlength="10" placeholder="Entrer votre numéro de téléphone" size="30">
								<label class="control-label" for="Email">Mail :</label>
								<input class="form-control" type="email" name="Email" placeholder="Entrer votre adresse mail" size="30" required>
								<label class="control-label" for="Mdp">Mot de passe :</label>
								<input class="form-control" type="password" name="Mdp" placeholder="Entrer un mot de passe sécurisé" size="30" required>
								<div class="btn-group col-md-6 col-md-offset-4">
									<input class="btn btn-primary" type="submit" name="submitInscription" value="S'inscrire">
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane active" id="cnxTab">
						<form enctype="multipart/form-data" id="cnxForm" class="usefulForm" action="" method="post">
							<label class="control-label" for="Email">Mail : </label>
							<input class="form-control" name= "Email" type="email" placeholder="Entrer votre adresse mail" size="30" required>
							<label class="control-label" for="Mdp">Mot de passe : </label>
							<input class="form-control" name= "Mdp" type="password" placeholder="Entrer votre mot de passe" size="30" required>
							<div class="btn-group col-md-6 col-md-offset-4">
								<input class="btn btn-primary" type="submit" name="submitConnexion" value="Se connecter">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="espaceBas"></div>
</main>
{% endblock %}
