{% extends "::base.html.twig" %}

{% block title %}MainBundle:Boutique:boutique{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<h1>Welcome to the Boutique:boutique page</h1>
{% endblock %}
