{% extends "::base.html.twig" %}

{% block title %}MainBundle:Boutique:modificationProduit{% endblock %}

{% block navBoutique %}class="active"{% endblock %}

{% block body %}
<h1>Welcome to the Boutique:modificationProduit page</h1>
<span>Vous voulez modifier le produit dont l'ID est {{idProduit}}</span>
{% endblock %}
