{% extends "::base.html.twig" %}

{% block title %}MainBundle:Boutique:produit{% endblock %}

{% block body %}
<h1>Welcome to the Boutique:produit page</h1>
<span>Vous êtes l'utilisateur numéro {{user}}</span>
{% endblock %}
