{% extends "MainBundle::base.html.twig" %}

{% block title %}Mention Légale{% endblock %}

{% block body %}
<main>
    <div clas="container text-center carrousel blank">
		<div class="col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 contenuCorps">
			<div class="row">
				<div class=" col-sm-10 col-md-10 col-lg-10">
				  	<p><h4>Le site www.BDExia.fr est édité par: </h4>
						Lucas Alexis, Caillat François, Lebarillier Quentin<br>
						Pavillon Martel, Europôle de l'Arbois, 13545 Aix-en-Provence<br>
						04 42 97 14 20 <br>
						https://exia.cesi.fr/contact/<br> 
						Le directeur de la publication est Lucas Alexis<br>
						<h4>Le site www.BDExia.fr est hébergé par: </h4>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<h4>Loi CNIL informatique et libertés</h4>
						Conformément à la loi « Informatique et Libertés » du 6 janvier 1978, ce site a fait l'objet d'une déclaration à la CNIL – en date du 13 Septembre 2012 – récépissé de déclaration n° 16 149 58.<br>
						Conformément à la loi «Informatique et Libertés » du 6 janvier 1978, les personnes ayant fourni des informations personnelles peuvent exercer leurs droits d'accès et de modification sur ces données, en envoyant un courrier électronique à l'adresse suivante : contact@legaleasy.fr . De plus, aucune information personnelle n'est collectée à l'insu des utilisateurs du site, ni cédée à des tiers, ni utilisée à des fins personnelles sans votre accord.<br>

						 </p>
				</div>
			</div>
		</div>
	</div>
	<div class="espaceBas"></div>
</main>
	
{% endblock %}